accelerate==1.11.0
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.8.0
appdirs==1.4.4
APScheduler==3.11.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==3.0.0
async-lru==2.0.5
atlastk==0.13.5
attrs==25.3.0
audioop-lts==0.2.1
audioread==3.0.1
babel==2.17.0
backcall==0.2.0
bcrypt==5.0.0
beautifulsoup4==4.13.3
bitarray==3.7.1
bleach==6.2.0
bleak==0.22.3
blinker==1.9.0
blis==1.3.0
bs4==0.0.2
CacheControl==0.14.3
cachetools==5.5.2
catalogue==2.0.10
cbor2==5.7.0
certifi==2025.8.3
cffi==2.0.0
chardet==3.0.4
charset-normalizer==3.4.1
ckzg==2.1.4
click==8.1.8
cloudpathlib==0.23.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
comtypes==1.4.10
confection==0.1.5
contourpy==1.3.1
crypto==1.4.1
cryptography==46.0.1
cssselect==1.3.0
cycler==0.12.1
cymem==2.0.11
cytoolz==1.0.1
datasets==4.3.0
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
deprecation==2.1.0
dill==0.4.0
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
Django==5.1.7
dnspython==2.7.0
dotenv==0.9.9
email-validator==2.3.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.1
eth_abi==5.2.0
evaluate==0.4.6
executing==2.2.0
faiss-cpu==1.12.0
fake-agent==0.1.4
fake-useragent==2.2.0
fastapi==0.115.11
fastjsonschema==2.21.2
filelock==3.18.0
firebase_admin==7.1.0
Flask==3.1.0
flask-cors==6.0.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fonttools==4.56.0
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.3.2
future==1.0.0
gevent==25.9.1
gitdb==4.0.12
GitPython==3.1.44
gkeepapi==0.16.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.169.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.4.0
google-crc32c==1.7.1
google-generativeai==0.8.5
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
googletrans==4.0.2
gpsoauth==1.1.1
greenlet==3.2.2
grpcio==1.66.2
grpcio-health-checking==1.59.5
grpcio-status==1.71.2
grpcio-tools==1.66.2
gTTS==2.5.4
h11==0.16.0
h2==3.2.0
hexbytes==1.3.1
hf-xet==1.2.0
holidays==0.84
hpack==3.0.0
hstspreload==2025.1.1
httpcore==1.0.9
httplib2==0.22.0
httptools==0.7.1
httpx==0.28.1
huggingface-hub==0.35.3
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
importlib_metadata==8.6.1
iniconfig==2.1.0
ipykernel==6.29.5
ipython==7.31.1
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kaggle==1.7.4.5
kiwisolver==1.4.8
langcodes==3.5.0
langdetect==1.0.9
language_data==1.3.0
lazy_loader==0.4
librosa==0.11.0
lightgbm==4.6.0
llama_cpp_python==0.3.8
llvmlite==0.44.0
lxml==6.0.2
lxml_html_clean==0.4.3
marisa-trie==1.3.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.4
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.6.4
multiprocess==0.70.16
murmurhash==1.0.13
Naked==0.1.32
narwhals==1.31.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
nltk==3.9.2
notebook==7.4.7
notebook_shim==0.2.4
numba==0.61.2
numpy==2.2.2
oauthlib==3.2.2
openai==1.109.1
opencv-python==4.11.0.86
opendatasets==0.1.22
opentelemetry-api==1.33.1
opentelemetry-exporter-otlp==1.33.1
opentelemetry-exporter-otlp-proto-common==1.33.1
opentelemetry-exporter-otlp-proto-grpc==1.33.1
opentelemetry-exporter-otlp-proto-http==1.33.1
opentelemetry-proto==1.33.1
opentelemetry-sdk==1.33.1
opentelemetry-semantic-conventions==0.54b1
outcome==1.3.0.post0
packaging==24.2
pandas==2.3.3
pandocfilters==1.5.1
parse==1.20.2
parsimonious==0.10.0
parso==0.8.4
passlib==1.7.4
pickleshare==0.7.5
pillow==11.1.0
platformdirs==4.3.7
pluggy==1.6.0
pooch==1.8.2
postgrest==2.22.1
preshed==3.0.10
prometheus_client==0.23.1
prompt_toolkit==3.0.51
propcache==0.3.2
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.0.0
psycopg2==2.9.11
psycopg2-binary==2.9.11
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==2.22
pycryptodome==3.21.0
pycryptodomex==3.22.0
pydantic==2.12.3
pydantic_core==2.41.4
pydeck==0.9.1
PyGetWindow==0.0.9
Pygments==2.19.1
PyJWT==2.10.1
pymongo==4.15.1
PyMsgBox==1.0.9
pyOpenSSL==25.3.0
pyotp==2.9.0
pyparsing==3.2.3
pyperclip==1.9.0
pypiwin32==223
pyquery==2.0.1
pyreadline3==3.5.4
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytest==8.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-json-logger==4.0.0
python-slugify==8.0.4
pyttsx3==2.98
pytweening==1.2.0
pytz==2025.1
pyunormalize==16.0.0
pywhatkit==5.4
pywin32==310
pywinpty==3.0.2
PyYAML==6.0.2
pyzmq==26.4.0
rasa-sdk==3.15.0
razorpay==1.4.2
realtime==2.22.1
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.5
requests==2.32.3
requests-html==0.10.0
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==14.2.0
rlp==4.1.0
rpds-py==0.23.1
rsa==4.9.1
ruamel.yaml==0.17.40
safetensors==0.5.3
sanic==22.12.0
Sanic-Cors==2.2.0
sanic-routing==23.12.0
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
selenium==4.31.0
Send2Trash==1.8.3
sentence-transformers==5.1.2
setuptools==80.9.0
shellescape==3.8.1
shellingham==1.5.4
six==1.17.0
smart_open==7.4.1
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.14.2
SQLAlchemy==2.0.40
sqlparse==0.5.3
srsly==2.5.1
stack-data==0.6.3
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
starlette==0.46.1
storage3==2.22.1
streamlit==1.43.2
StrEnum==0.4.15
supabase==2.22.1
supabase-auth==2.22.1
supabase-functions==2.22.1
sympy==1.14.0
tenacity==9.0.0
terminado==0.18.1
text-unidecode==1.3
thinc==8.3.6
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.22.1
toml==0.10.2
toolz==1.0.0
torch==2.9.0+cpu
torchaudio==2.9.0+cpu
torchvision==0.24.0+cpu
tornado==6.4.2
tortoise==0.1.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.57.1
trio==0.30.0
trio-websocket==0.12.2
typer==0.20.0
types-requests==2.32.4.20250913
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.1
tzlocal==5.3.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.20
uvicorn==0.34.0
virtualenv==20.34.0
w3lib==2.3.1
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.2.13
weasel==0.4.1
web3==7.13.0
webauthn==2.7.0
webcolors==24.11.1
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.1.3
wikipedia==1.4.0
winrt-runtime==2.3.0
winrt-Windows.Devices.Bluetooth==2.3.0
winrt-Windows.Devices.Bluetooth.Advertisement==2.3.0
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==2.3.0
winrt-Windows.Devices.Enumeration==2.3.0
winrt-Windows.Foundation==2.3.0
winrt-Windows.Foundation.Collections==2.3.0
winrt-Windows.Storage.Streams==2.3.0
wrapt==2.0.0
wsproto==1.2.0
WTForms==3.2.1
xgboost==3.0.2
xxhash==3.6.0
yarl==1.20.1
zipp==3.23.0
zope.event==6.0
zope.interface==8.0.1
